body {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

/* banner */
#banner {
    background-image:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.73)), url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    /* justify-content: center; */
    flex-wrap: wrap;
}

#banner-content-area {
    height: 100%;
    color: rgba(255, 255, 255, 0.815);
    font-weight: 100;
    align-items: center;
    justify-content: center;
    display: flex;
}

#banner-content {
    text-align: center;
}

#banner-content h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#banner-content p {
    font-size: 21px;
}

/* banner button */
.donate-btn {
    margin-top: 15px;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: #ff5959;
}

.donate-btn a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.donate-btn:hover {
    padding: 20px 20px;
    border-radius: 20px;

}

.donate-btn a:hover {
    color: wheat;
}

/* banner button  */


/* donation */
#donation {
    margin-top: 100px;
      
}

#donation-text-area {
    display: flex;
    justify-content: center;
    align-items: center;

}

#donation-text {
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
p{
    font-size: 20px;
}

/* donation amount */
#donation-amount {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;

}

.amount {
    margin-top: 50px;
    border: 3px;
    width: 135px;
    height: 123px;
    box-shadow: 10px 10px 30px black;
}

.amount h2 {
    text-align: center;
    font-size: 25px;

}

.amount:hover {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #d412123b;
}

#manual-donate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 800px;
    text-align: center;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

/* doonation */

/* donate-plan */
#donate-plan{
    margin-top: 100px;
}

.donate-plan-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.plan-title {
    text-align: center;

}

#donate-box {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.plan-discription {
    width: 350px;
    border: 2px;
    justify-content: center;
    text-align: justify;

}
.plan-discription a{
    text-decoration: none;
    color: rgb(255, 174, 0);

}


.bg1 {
    background-color: rgba(10, 7, 7, 0.103);
}

.bg2 {
    background-color: rgba(0, 105, 46, 0.226);
}

.bg3 {
    background-color:rgba(53, 2, 38, 0.1) ;
}
/* donate-plan */